{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UAS IEE3032</title>
        <link rel="stylesheet" href="{% static 'style.css' %}" />
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    
    <body>

        <h1 class="mainTitle">UAS</h1>
        <h2 class="mainTitle">Filipus Dani - 202000135</h2>
        <div class="container">
            <div class="bigbox">
                <h1>Pabrik Smart Farm</h1>
                <div class="mediumbox">
                    <div class="smallbox">
                        <h2>Sensor Kelembaban</h2>
                        <h3><span id="Sensor1"></span>%</h3>
                    </div>
                    <div class="smallbox">
                        <h2>Sensor Temperatur</h2>
                        <h3><span id="Sensor2"></span>&deg;C</h3>
                    </div>
                    <div class="smallbox">
                        <h2>Sensor Sunlight</h2>
                        <h3><span id="Sensor3"></span>lux</h3>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="bigbox">
                <h2>Aktuator Water Pump</h2>
                <h3><span id="Aktuator1"></span> rpm</h3>
            </div>
        </div>

        <div class="container">
            <div class="bigbox">
                <h2>Sejarah Nilai Water Pump</h2>
                <canvas id="a1_chart", width="400", height="200"></canvas>
            </div>
        </div>
   
        <script>
            var a1_chart_value
            var a1_chart_labels

            function updateView(message) {
                const Sensor1 = JSON.parse(
                    message["Sensor1"]
                    );
                document.querySelector("#Sensor1").innerHTML =
                    Sensor1[1].fields.value;
                const Sensor2 = JSON.parse(
                    message["Sensor2"]
                    );
                document.querySelector("#Sensor2").innerHTML =
                    Sensor2[1].fields.value;
                const Sensor3 = JSON.parse(
                    message["Sensor3"]
                    );
                document.querySelector("#Sensor3").innerHTML =
                    Sensor3[1].fields.value;
                const Aktuator1 = (
                    message["Aktuator1"]
                    );
                document.querySelector("#Aktuator1").innerHTML =
                    Aktuator1;
                a1_chart_value = (
                    message["a1_chart_value"]
                    );
                a1_chart_labels = (
                    message["a1_chart_labels"]
                    );
            }

            function getData() {
                fetch(`http://${window.location.host}/uas/api/sensor/`)
                    .then((res) => res.json())
                    .then((data) => updateView(data));
            }

            setInterval(function () {
                const e = getData();
                a1_chart.data.labels = a1_chart_labels;
                a1_chart.data.datasets[0].data = a1_chart_value;
                a1_chart.update();
            }, 1000);

            Number.prototype.pad = function (size) {
                var s = String(this);
                while (s.length < (size || 2)) {
                    s = "0" + s;
                }
                return s;
            };

            var a1_chart_ctx = document.getElementById("a1_chart");
            var a1_chart = new Chart(a1_chart_ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Kecepatan Aktuator (rpm)',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [],
                    }]
                },
                options: {
                    elements: {
                        line: {
                        tension: 0
                        }
                    },
                    animations: {
                    tension: {
                        duration: 0,
                    }
                    },
                    scales: {
                        y: {
                            min: 800,
                            max: 3200
                        }
                    }
                }
            });
        </script>
    </body>
</html>
